<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserMasterMapper">
  <resultMap id="BaseResultMap" type="com.demo.entity.UserMaster">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pass_word" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="account_type" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="permission_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="del_flg" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="reg_account" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reg_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="upd_account" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="upd_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, pass_word, account_type, permission_type, del_flg, reg_account, 
    reg_time, upd_account, upd_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from m_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.entity.UserMaster">
    insert into m_user (id, user_id, user_name, 
      pass_word, account_type, permission_type, 
      del_flg, reg_account, reg_time, 
      upd_account, upd_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{accountType,jdbcType=CHAR}, #{permissionType,jdbcType=VARCHAR}, 
      #{delFlg,jdbcType=CHAR}, #{regAccount,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP}, 
      #{updAccount,jdbcType=VARCHAR}, #{updTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.entity.UserMaster">
    insert into m_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
      <if test="permissionType != null">
        permission_type,
      </if>
      <if test="delFlg != null">
        del_flg,
      </if>
      <if test="regAccount != null">
        reg_account,
      </if>
      <if test="regTime != null">
        reg_time,
      </if>
      <if test="updAccount != null">
        upd_account,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=CHAR},
      </if>
      <if test="permissionType != null">
        #{permissionType,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null">
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="regAccount != null">
        #{regAccount,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updAccount != null">
        #{updAccount,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.UserMaster">
    update m_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        account_type = #{accountType,jdbcType=CHAR},
      </if>
      <if test="permissionType != null">
        permission_type = #{permissionType,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null">
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="regAccount != null">
        reg_account = #{regAccount,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updAccount != null">
        upd_account = #{updAccount,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.entity.UserMaster">
    update m_user
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      account_type = #{accountType,jdbcType=CHAR},
      permission_type = #{permissionType,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=CHAR},
      reg_account = #{regAccount,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      upd_account = #{updAccount,jdbcType=VARCHAR},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- updateByPrimaryKey 截至为自动生成 -->

  <!-- 通过userid获取用户 -->
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from m_user
    where user_id = #{userId,jdbcType=VARCHAR}
          and del_flg != '1'
  </select>

  <!-- 获取简单的用户信息 -->
  <select id="getUserInfo" parameterType="java.lang.String" resultType="com.demo.pojo.common.UserInfo">
    select
        user_id
      ,user_name
      ,account_type
      ,permission_type
    from m_user
    where user_id = #{userId,jdbcType=VARCHAR}
          and del_flg != '1'
  </select>
</mapper>